.projects-container {
  margin: 0 auto;
  padding: 0 20px 50px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  place-content: center;
  grid-gap: 20px;
}

@media (max-width: 575.98px) {
  .projects-image {
    width: 300px;
    height: 300px;
  }
}
