$bg-color: hsl(256, 256%, 256%);
$dot-color: hsl(256, 33%, 70%);

// Dimensions
$dot-size: 1px;
$dot-space: 26px;

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-container {
  position: relative;
  min-height: calc(100vh - 250px);
  padding-top: 100px;
  padding-bottom: 150px;

  // background: url('./assets/images/background.jpg') no-repeat center center
  //   fixed;
  // background-size: cover;

  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  background-attachment: fixed;
}

@media (max-width: 575.98px) {
  .page-container {
    min-height: calc(100vh - 300px);
    padding-bottom: 200px;
  }
}
